<!--
  <ion-header>
    <ion-toolbar color = "medium">
      <ion-title style = "font-family:Ink Free; color:#ffffff;  font-weight:bold; font-size: 150%;">{{titulo}}</ion-title>
      <ion-title style = "font-family:Ink Free; color:#ffffff;  font-weight:bold; font-size: 150%;">{{titulo2}}</ion-title>
    </ion-toolbar>
 
  
    <ion-toolbar color = "medium">
      <ion-buttons slot="start">
        <ion-back-button [icon]="icon" style = "font-family:Berlin Sans FB; color:#213970;"
            [text]="text" 
            defaultHref = "inicio">
        </ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  
  </ion-header>
-->

  <ion-header> 
    <ion-toolbar color = "tertiary">
      <ion-title style = "font-family:Ink Free; color:rgb(255, 255, 255);  font-weight:bold; 
      font-size: 150%;">{{titulo}}</ion-title>
      <ion-title style = "font-family:Ink Free; color:rgb(255, 255, 255);  font-weight:bold; 
      font-size: 150%;">{{titulo2}}</ion-title>
    </ion-toolbar>
  
    <ion-toolbar color = "tertiary">
      <ion-buttons slot="start">
        <ion-back-button [icon]="icon" style = "font-family:Berlin Sans FB;"
            [text]="text"  color="light" font
            defaultHref = "inicio">
        </ion-back-button>
      </ion-buttons>
      <!--ICONO 1-->
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon slot="icon-only" name = "grid-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
       <!--ICONO 2-->
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon slot="icon-only" name = "menu-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>


  </ion-header>

  <!---->