<ion-header>
  <ion-toolbar color = "success">
    <ion-title style = "font-family:Ink Free; color:rgb(108, 11, 219);  font-weight:bold; font-size: 150%;">Página 1 - Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-item color = "success">
  <p style = "font-family:Bahnschrift; color:rgb(255, 255, 255);  font-weight:bold; font-size: 120%;"> - Elija la opción que prefiera -</p>
</ion-item>

<ion-item>
  <ion-button color = "tertiary" routerLink = "/datos-personales"> 
    <ion-icon slot="start" name="person-circle-sharp"></ion-icon>
    Datos Personales
  </ion-button>
  
</ion-item>
<ion-item>
  <ion-button color = "warning" routerLink = "/modulos"> 
    <ion-icon slot="start" name="folder-open-sharp"></ion-icon>
    Cursos Informática
  </ion-button>
</ion-item>

<p>"He conseguido hacer un commit usando GIT". </p>

</ion-content>
